@import '~antd/dist/antd.css';
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.imgperfil {
    margin-left: auto;
    Margin-bottom: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: auto;
    Margin-bottom: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.ant-layout-sider,
.ant-menu,
.ant-menu-submenu,
.ant-menu-sub,
.ant-layout-sider-children,
.ant-menu-item {
    background: #ffffff;
}
.ant-layout-header{
    background: #AC3336;
}
.ant-layout-sider-trigger>span{
    color: #fff;
}
.ant-layout-sider-trigger{
    background-color: #AC3336;
}

.ant-btn-primary{
    background: #6b1d1d;
}

